/* Global styles
-----------------------------------------------------------------------------*/
body { min-width: 1000px; }

.page-node-panelizer #block-system-main form .tabs { position: relative; }
.page-node-panelizer #block-system-main form .tabs .tabs { display: block; position: relative; }
.page-node-panelizer #block-system-main form .tabs .tabs li { float: left; margin-right: 5px; margin-bottom: 5px; }

/* Sidebars
-----------------------------------------------------------------------------*/
#main-content { width: 96%; position: relative; float: left; margin: 0 2%; }

.wetkit-rubik-no-sidebars #main-content { float: none; width: auto; margin: 0 30px; }

.wetkit-rubik-sidebar-first #page, .wetkit-rubik-two-sidebars #page { padding-left: 230px; /* width of sidebar + margin */ }

.wetkit-rubik-sidebar-second #page, .wetkit-rubik-two-sidebars #page { padding-right: 230px; /* width of sidebar + margin */ }

.sidebar { width: 200px; float: left; position: relative; }

.first_sidebar { margin-left: -100%; right: 200px; }

.second_sidebar { margin-right: -200px; }

#footer { margin: 10px 0 20px; }

/* Action links - see README.txt for more information
-----------------------------------------------------------------------------*/
div.view-header { padding: 2px 5px 4px 5px; }

table.rules-overview-table a.action, ul.links li.revert a, ul.links li.configure a, ul.links li.clone a, ul.links li.export a, ul.links li.enable a, ul.links li.disable a, ul.links li.flags_edit a, ul.links li.flags_delete a, ul.links li.flags_export a, .field-collection-view-links li.edit a, .field-collection-view-links li.delete a, .action-links.action-links-field-collection-add a, ul.links li.edit a, ul.links li.delete a, ul.links li.view a, a.action-add, a.action-analyze, a.action-clone, a.action-configure, a.action-delete, a.action-edit, a.action-export, a.action-revert, a.action-table, a.action-view, td.views-field-delete-node a, td.views-field-cancel-node a, td.views-field-delete a, td.views-field-edit-node a, td.views-field-edit a, td.views-field-view-node a, td.views-field-view-user a, td.views-field-view a, a.action-top { background-image: url("../images/action-icons.png"); background-repeat: no-repeat; padding-left: 22px; }

ul.links li.revert a, ul.links li.configure a, ul.links li.clone a, ul.links li.delete a, ul.links li.export a, ul.links li.flags_edit a, ul.links li.flags_delete a, .field-collection-view-links li.edit a, ul.links li.edit a, ul.links li.disable a, ul.links li.view a { margin-right: 8px; }

.action-links.action-links-field-collection-add a, a.action-add { margin-right: 10px; }

ul.links li.view a, td.views-field-view-node a, td.views-field-view-user a, td.views-field-view a, a.action-view { background-position: 0 -32px; }

a.action-view { margin-right: 10px; }

td.views-empty { margin-top: 10px; padding: 10px 0 10px 38px; text-shadow: 1px 1px 1px #ccc; background: url("../images/ico-warning.png") 8px 10px no-repeat; }

a.action-edit, ul.links li.flags_edit a, .field-collection-view-links li.edit a, ul.links li.edit a, td.views-field-edit-node a, td.views-field-edit a { background-position: 0 1px; }

a.action-delete, table.rules-overview-table a.action.delete, ul.links li.flags_delete a, .field-collection-view-links li.delete a, ul.links li.delete a, td.views-field-delete-node a, td.views-field-cancel-node a, td.views-field-delete a { background-position: 0 -100px; }

table.rules-overview-table a.action.disable, ul.links li.disable a { background-position: 0 -354px; }

table.rules-overview-table a.action.enable, ul.links li.enable a { background-position: 0 -314px; }

table.rules-overview-table a.action.export, ul.links li.export a, ul.links li.flags_export a, a.action-export { background-position: 0 -164px; }

a.action-table { background-position: 0 -392px; }

a.action-analyze { background-position: 0 -428px; }

a.action-revert, table.rules-overview-table a.action.revert, ul.links li.revert a { background-position: 0 -198px; }

a.action-clone, table.rules-overview-table a.action.clone, ul.links li.clone a { background-position: 0 -234px; }

a.action-configure, ul.links li.configure a { background-position: 0 -474px; }

table.rules-overview-table a.action.translate, ul.links li.translate a { background-position: 0 -273px; }

.action-links.action-links-field-collection-add a, a.action-add { background-position: 0 -67px; }

a.action-top { background-position: 0 -130px; float: right; }

/* Action Links Hover State */
.action-links a:hover { background-color: #66AACC; }

/* Misc Fixes & Tweaks
-----------------------------------------------------------------------------*/
/* Autocomplete Deluxe */
html.js input.form-autocomplete { width: 95%; }

/* Overlay */
#overlay { display: table; margin: 0 auto; min-height: 100px; min-width: 700px; padding: 0.2em 26px 2em 0.2em; position: relative; width: 93%; }

/* Views UI */
html.js #edit-view-displays-wrapper div.form-item-show-tagged-with input.form-autocomplete { width: 160px; }

.views-ui-dialog .ui-dialog-titlebar-close { border-color: #CCCCCC; box-shadow: none; right: 0; top: 0; background: url("../../rubik/images/buttons.png") no-repeat scroll -4000px 50% #444444; border-radius: 5px 5px 5px 5px; display: block; height: 20px; margin: 5px; padding: 0; position: absolute; width: 20px; }

.dependent-options.form-item.form-item-menu-context { position: absolute; right: 22px; width: 160px; }

/* Color links */
#edit-display-settings-title, .views-display-settings .ctools-toggle, div.views-displays .views-ui-display-tab-bucket.pager a span, div.views-displays .pager a { color: #5599AA; }

/* Dashboard */
#dashboard ul.action-links a { float: left; }

/* Theme Selection Screenshots */
.theme-selector img { width: 110px; }

/* Vertical Tabs */
.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane div.fieldset-content legend { display: block; }

/* Page-level Contextual Links on a page with local tasks */
body.with-local-tasks #page-title div.contextual-links-wrapper { top: 62px; }

/* Descriptions on content type alter page */
.page-content #node-type-form div.form-item.form-item-name div.description { margin: 0px; }

/* Contextual Links on Body (Views Pages) */
.contextual-links-region { outline: none; position: static; }

div.contextual-links-region { position: relative; }

/* Secondary Tabs */
.secondary-tabs { z-index: 100; }

.pager a, .pager span, .primary-tabs a { text-shadow: 1px 1px 1px #FFFFFF; }

/* Rules UI */
body.page-admin-config-workflow-rules-links ul.rules-operations-add.action-links li, body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations-add.action-links li { margin-right: 10px; }

body.page-admin-config-workflow-rules-links ul.rules-operations-add.action-links li a, body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations-add.action-links li a { display: block; margin-top: 2px; margin-bottom: 2px; padding-bottom: 4px; padding-top: 5px; }

body.page-admin-config-workflow-rules-links ul.rules-operations.action-links li a, body.page-admin-config-workflow-rules-reaction-manage ul.rules-operations.action-links li a { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; display: inline; text-shadow: 0 0 0 transparent; color: #008EB1; font-size: 13px; }

/* AJAX Throbber */
html.js input.throbbing { background-position: 100% -2px; }

/* Admin Menu Toolbar Style fix */
#admin-menu { margin: 0; padding: 0; }

/* Play nice with Shortcut module */
#admin-menu-wrapper div.toolbar-shortcuts ul.menu { padding: 1px 0 6px; }

#admin-menu-wrapper div.toolbar-shortcuts ul.menu li { border-bottom: 0 transparent; }

/* Forms */
.filter-wrapper .form-item, div.teaser-checkbox .form-item, .form-item .form-item { border: 0 none; margin: 0; padding: 5px 0; }

/* Module List & Add Icons */
a.module-link { display: block; padding: 1px 0 1px 20px; white-space: nowrap; }

a.module-link-help { background: url("/misc/help.png") no-repeat scroll 0 50% transparent; }

a.module-link-permissions { background: url("/misc/permissions.png") no-repeat scroll 0 50% transparent; }

a.module-link-configure { background: url("/misc/configure.png") no-repeat scroll 0 50% transparent; }

/* Play nice with Field Collections */
.field-collection-container ul.action-links-field-collection-add { margin: 1em 0 1em 2em; }

.action-links.action-links-field-collection-add a { background-color: transparent; text-shadow: 0 0 0 transparent; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding: 0; margin: 0; color: #008EB1; }

.action-links.action-links-field-collection-add a:hover { background-color: transparent; }

.field-collection-view-links li.edit a, .field-collection-view-links li.delete a { padding: 2px 0; }

.action-links.action-links-field-collection-add a { padding: 1px 0 1px 20px; }

/* Play nice with Media Browser */
#media-browser-tabset div.form-actions { background: none repeat scroll 0 0 #EEEEEE; border: 1px solid #DDDDDD; padding: 9px; }

#media-browser-tabset div.form-actions a.fake-submit { margin-right: 5px; box-shadow: 0 1px 1px #DDDDDD; padding: 2px 10px 2px 25px; background: url("../../rubik/images/buttons.png") no-repeat scroll -2401px 50% white; border-color: #DDDDDD #DDDDDD #CCCCCC; border-style: solid; border-width: 1px; color: #333333; cursor: pointer; font-weight: normal; text-align: center; font-family: Verdana,Arial,sans-serif; font-size: 1em; }

/* Tweak Table Styles */
table td, table th { padding: 8px 10px; vertical-align: middle; }

table th { text-transform: uppercase; font-weight: bold; }

tr.odd { background-color: #f3f3f3; }

tr.even { background-color: #fff; }

table tr.odd td.active { background-color: #e8e8e8; }

table tr.even td.active { background-color: #f2f2f2; }

/* Icon for help block */
#block-system-help div.block-content { background: url("../images/ico-help.png") 7px center no-repeat; padding-left: 40px; }

/* Nicer message styles */
div.messages { background-repeat: no-repeat; background-position: 8px 8px; padding: 10px 10px 10px 44px; }

div.messages.status { background-image: url("/misc/message-24-ok.png"); }

div.messages.warning { background-image: url("/misc/message-24-warning.png"); }

div.messages.error { background-image: url("/misc/message-24-error.png"); }

/* Give Views headers some breathing space */
div.view div.view-header { padding: 5px 10px 10px 10px; }

/* Fix Admin Menu 3.x search bar */
#admin-menu .admin-menu-search .form-item { border: 0 none; }

#admin-menu .admin-menu-search input { width: 184px; }

/* Bring back label colors from before Admin Menu 3.x */
.form-item label { color: #333; }

/* @TODO nicer hover effect for buttons */
/*input.teaser-button,
input.form-submit { background-image: url(images/buttons.png);
}*/
/* Extra Admin Page Icons
-----------------------------------------------------------------------------*/
.path-admin-config-development-strongarm span.icon, .path-admin-config-user-interface-itoggle span.icon, .path-admin-config-workflow-subs span.icon, .path-admin-content-subscription span.icon, .path-admin-structure-subscriptions span.icon, .path-admin-structure-messages span.icon, .path-admin-config-content-fivestar span.icon, .path-admin-structure-mark span.icon, .path-admin-structure-flags span.icon, .path-admin-structure-file-types span.icon, .path-admin-structure-block-types span.icon, .page-admin-content-webform span.icon, .path-admin-config-content-webform span.icon, .page-admin-content-blocks span.icon, .page .page-admin-modules span.icon, h1.path-admin-dashboard span.icon, .path-dashboard span.icon, .path-admin-advanced_help- span.icon, .path-admin-content-media span.icon, .path-admin-config-media-browser span.icon, .path-admin-config-workflow-rules span.icon, .path-admin-structure-profiles span.icon, .path-admin-structure-panels span.icon, .path-admin-structure-mini-panels span.icon, .path-admin-structure-views span.icon, .path-admin-structure-views- span.icon, h1.path-admin-workbench span.icon, h1.path-admin-config-workbench span.icon, .path-admin-structure-features span.icon, .path-admin-structure-field-collections span.icon, .path-admin-structure-context span.icon, .path-admin-config-administration-admin-menu span.icon, .path-admin-config-administration-admin_menu span.icon, .path-admin-config-user-interface-modulefilter span.icon { background-color: transparent; background-image: url("../images/page-icons.png"); background-repeat: no-repeat; display: block; height: 30px; width: 30px; }

.page .page-admin-modules span.icon { background-image: url("../../rubik/images/icons.png"); background-position: -210px -30px; }

.path-admin-dashboard span.icon, .path-dashboard span.icon { background-position: 0 -700px !important; }

.path-admin-advanced_help- span.icon { background-position: 0 -525px; }

.path-admin-config-media-browser span.icon, .path-admin-content-media span.icon { background-position: 0 -466px; }

.path-admin-structure-block-types span.icon, .page-admin-content-blocks span.icon { background-position: 0 -643px; }

.path-admin-config-content-webform span.icon, .page-admin-content-webform span.icon { background-position: 0 -752px; }

.path-admin-structure-context span.icon { background-position: 0 -169px; }

.path-admin-structure-features span.icon { background-position: 0 -406px; }

.path-admin-structure-field-collections span.icon { background-position: 0 -582px; }

.path-admin-structure-panels span.icon { background-position: 0 -288px; }

.path-admin-structure-mini-panels span.icon { background-position: 0 -230px; }

.path-admin-structure-profiles span.icon { background-position: 0 -111px; }

.path-admin-structure-views span.icon, .path-admin-structure-views- span.icon { background-position: 0 2px; }

.path-admin-workbench span.icon, h1.path-admin-config-workbench span.icon { background-position: 0 -52px; }

.path-admin-config-user-interface-modulefilter span.icon { background-position: 0 -802px; }

.path-admin-config-workflow-rules span.icon { background-position: 0 -348px; }

.path-admin-config-administration-admin-menu span.icon, .path-admin-config-administration-admin_menu span.icon { background-position: 0 -848px; }

.path-admin-structure-file-types span.icon { background-position: 0 -999px; }

.path-admin-structure-flags span.icon { background-position: 0 -898px; }

.path-admin-structure-mark span.icon { background-position: 0 -951px; }

.path-admin-config-content-fivestar span.icon { background-position: 0 -1049px; }

.path-admin-structure-messages span.icon { background-position: 0 -1103px; }

.path-admin-config-workflow-subs span.icon, .path-admin-content-subscription span.icon, .path-admin-structure-subscriptions span.icon { background-position: 0 -1152px; }

.path-admin-config-user-interface-itoggle span.icon { background-position: 0 -1250px; }

.path-admin-config-development-strongarm span.icon { background-position: 0 -1199px; }

/* Context Override */
#context-blockform td { vertical-align: top; }

#context-blockform .context-blockform-selector { height: 70em; }

/* Fix up WetKit Rubik Theme to closely align with WET Styles */
.tao #branding { background: none; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #176ca7), color-stop(100%, #135888)) !important; background-image: -webkit-linear-gradient(#176ca7, #135888) !important; background-image: -moz-linear-gradient(#176ca7, #135888) !important; background-image: -o-linear-gradient(#176ca7, #135888) !important; background-image: linear-gradient(#176ca7, #135888) !important; height: 35px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF176CA7', endColorstr='#FF135888'); }

.tao .action-links a { color: white; background: none; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #176ca7), color-stop(100%, #135888)) !important; background-image: -webkit-linear-gradient(#176ca7, #135888) !important; background-image: -moz-linear-gradient(#176ca7, #135888) !important; background-image: -o-linear-gradient(#176ca7, #135888) !important; background-image: linear-gradient(#176ca7, #135888) !important; padding: 0px 5px 0px 5px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF176CA7', endColorstr='#FF135888'); }

.tao .add-or-remove-shortcuts a span.text { color: white; }

.secondary-tabs, .secondary-tabs:hover, .tao .primary-tabs li.active { background: none; background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #176ca7), color-stop(100%, #135888)) !important; background-image: -webkit-linear-gradient(#176ca7, #135888) !important; background-image: -moz-linear-gradient(#176ca7, #135888) !important; background-image: -o-linear-gradient(#176ca7, #135888) !important; background-image: linear-gradient(#176ca7, #135888) !important; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF176CA7', endColorstr='#FF135888'); }

.secondary-tabs li.active a { background-color: #000; border-radius: 4px; }

.secondary-tabs a:hover { background-color: #000; }

.tao table th, .tao .item-list h3, .tao .block .block-title, .tao a.fieldset-title, .tao .collapsible .fieldset-legend a, .tao .admin-panel h3 { background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, gainsboro)) !important; background-image: -webkit-linear-gradient(#eeeeee, gainsboro) !important; background-image: -moz-linear-gradient(#eeeeee, gainsboro) !important; background-image: -o-linear-gradient(#eeeeee, gainsboro) !important; background-image: linear-gradient(#eeeeee, #dcdcdc) !important; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFDCDCDC'); }

.tao .view-filters .views-widget .form-item { background-repeat: repeat-x; background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, gainsboro)) !important; background-image: -webkit-linear-gradient(#eeeeee, gainsboro) !important; background-image: -moz-linear-gradient(#eeeeee, gainsboro) !important; background-image: -o-linear-gradient(#eeeeee, gainsboro) !important; background-image: linear-gradient(#eeeeee, #dcdcdc) !important; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFDCDCDC'); }
.tao .view-filters .views-widget .form-item input, .tao .view-filters .views-widget .form-item select { min-height: 26px; }
.tao .view-filters .views-widget .form-item .description { display: none; }
.tao .view-filters .views-widget .form-item .form-autocomplete { padding: 3px; }
.tao .view-filters .views-widget .form-item input[name="title"] { width: 15em; }

.tao #branding .breadcrumb { font-size: 13px; text-transform: none; }

.tao #branding ul.links a { background: none; padding: 10px 10px; font-size: 13px; }

.tao #branding .breadcrumb a, .tao #branding .breadcrumb strong { background: none; padding: 10px 10px; margin-right: 0px; }

.tao .form-item .description, .description { color: #000; }

.tao a { color: #145E91; }

.tao .sticky-header { z-index: 999; }

/* Breadcrumb arrows */
.tao #branding span.delimiter:after { content: ' // '; padding-top: 10px; float: left; color: #fff; }

.tao #branding span:last-child:after { content: none; padding: 0; }

.tao #branding span.last { content: none; }

.tao #branding .breadcrumb-link:after { content: ' // '; padding-top: 10px; float: left; color: #fff; }

.tao #branding .breadcrumb-link:last-child:after { content: none; padding: 0; }

.tao #branding .breadcrumb-link.last { content: none; }

.tao legend .fieldset-title { font-weight: bold; }

.tao .text-format-wrapper .form-type-textarea { border: none; }

.tao .text-format-wrapper .form-type-select { border: none; }

.tao #bean-form .dependent-options { margin-left: 0px; }

.tao .media-widget .media-item { margin-left: 10px; }

.block, .item-list, .help-items ul, .form-item, .confirmation ul, .admin-list, .node-type-list, .admin-panel { border-color: #d4d4d4; }

#field-bean-highlight-description-add-more-wrapper .description { margin: 0px 10px 10px 10px; }

.media-browser-tab .form-file { border: none; padding: 0px; }

#media-browser-page-wrapper #media-browser-tabset h1 { color: #FFFFFF; }

#media-browser-page-wrapper #media-browser-tabset #branding { background-image: none; }

#overlay-content #side-breadcrumbs { margin-right: 50px; }
